language: go
go:
  - 1.9.x
  - 1.10.x
sudo: false

install:
  - go get -v github.com/golang/dep/cmd/dep
  - go get -v github.com/alecthomas/gometalinter
  - gometalinter --install

script:
  - ./run_tests.sh
