[Unit]
Description=Decred Full Node
Requires=local-fs.target network-online.target network.target
After=local-fs.target network-online.target network.target

[Service]
Type=simple

# modify to your username
User=dcrd
Group=dcrd

#dcrd appdir, %h will be replaced to ~/$User.
ReadWritePaths=%h/.dcrd/

# dcrd datadir, modify if data directory on other mount device. e.g /data/dcrd-data/
ReadWritePaths=%h/.dcrd/data

# dcrd logdir
ReadWritePaths=%h/.dcrd/logs

# launch dcrd
ExecStart=%h/decred/dcrd

# restart dcrd
TimeoutStopSec=10s
Restart=on-abnormal
RestartSec=10s

#strict privilege
CapabilityBoundingSet=
NoNewPrivileges=true
LockPersonality=true
PrivateDevices=true
PrivateMounts=true
PrivateTmp=true
PrivateUsers=true
ProtectClock=true
ProtectControlGroups=true
ProtectHostname=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=strict
RemoveIPC=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictNamespaces=true
RestrictSUIDSGID=true
SystemCallArchitectures=native
SystemCallFilter=@system-service
SystemCallFilter=~@clock @module @mount @reboot @swap @privileged

[Install]
WantedBy=multi-user.target
