name: Build and Test
on: [push, pull_request]
permissions:
  contents: read

jobs:
  resolve-modules:
    name: Resolve Go modules
    runs-on: ubuntu-latest
    outputs:
      module_dirs: ${{ steps.resolve_module_dirs.outputs.module_dirs }}
    steps:
      - name: Check out source
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Resolve go module directories
        id: resolve_module_dirs
        run: |
          echo "Resolving modules in $(pwd)" && \
          MODPATHS=$(find . -mindepth 2 -type f -name go.mod -printf '"%h",') && \
          echo "module_dirs=[${MODPATHS%,}]" >> $GITHUB_OUTPUT
  build:
    name: Go CI
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: ["1.24", "1.25"]
    steps:
      - name: Check out source
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: ${{ matrix.go }}
      - name: Stablilize testdata timestamps
        run: |
          bash ./.github/stablilize_testdata_timestamps.sh "${{ github.workspace }}"
      - name: Build
        run: go build ./...
      - name: Test
        run: |
          sh ./run_tests.sh
  lint:
    name: Lint
    needs: resolve-modules
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module_dirs: ${{ fromJson(needs.resolve-modules.outputs.module_dirs ) }}
    steps:
      - name: Check out source
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: "1.24"
      - name: golangci-lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
        with:
          install-mode: "goinstall"
          version: e3b3bac5dd24906c205db9224fde52efd4d238cf # v2.6.1
          working-directory: ${{ matrix.module_dirs }}
